@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto|Taviraj:300,400,500i');
$open: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;
$tavi: 'Taviraj', serif;

$primary: #001c33;
$light: #4A96AD;
$lightest: #F5F3EE;

.container {
  border-top: 8px solid $primary;
  font-family: $open;
  color: #474747;
  nav {
    font-size: 14px;
    padding: 0;
    ul {
      margin: 0;
      padding: 30px 20px;
      list-style: none;
      .nav-list {
        color: #474747;
        text-decoration: none;
        li {
          margin: 0 12px;
          padding: 5px;
          display: inline-block;
          text-transform: lowercase;
          letter-spacing: -1px;
        }
      }
      .nav-list:hover {
        color: $primary;
      }
    }
  }
  section {
    margin: 100px 0;
  }
  .jumbotron {
    background-color: transparent;
    letter-spacing: -1px;
    padding: 8rem 2rem;
    margin: 0;
    h2 {
      span {
        color: $primary;
        font-family: $raleway;
      }
    }
  }
  .service {
    text-align: center;
    h2 {
      color: $primary;
    }
    .row {
      .col-md-4 {
        img {
          margin: 20px 0;
          transition: all 250ms ease;
        }
        h3 {
          margin-bottom: 20px;
        }
        p {
          font-size: 14px;
        }
      }
      .col-md-4:hover {
        img {
          transform: translateY(-10px);
        }
        h3 {
          color: $primary;
        }
      }
    }
  }
  .work {
    text-align: center;
    h2 {
      color: $primary;
    }
    .row {
      margin: 20px 0;
      .col-md-3 {
        img {
          max-width: 100%;
        }
      }
    }
  }
  .about {
    margin-top: 0;
    padding: 50px 0;
    .row {
      text-align: center;
      img {
        border-radius: 100%;
        height: 180px;
      }
      p {
        padding-top: 30px;
        font-size: 14px;
        font-family: $raleway;
        text-align: center;
        color: $primary;
        span {
          margin-right: 6px;
          font-family: $open;
        }
      }
    }
    button {
      text-align: center;
      margin: auto;
    }
  }
  .skills {
    text-align: center;
    margin: 8rem 0;
    p {
      margin-bottom: 2rem;
      color: $primary;
    }
    h2 {
      text-align: center;
      color: $primary;
    }
    .row {
      .col-md-4 {
        h4 {
          text-align: center;
          margin-top: 20px;
          margin-bottom: 20px;
          color: $primary;
          font-family: $raleway;
        }
        .ct-chart {
          height: 200px;
          .ct-slice-donut {
            stroke: $light;
          }
          .ct-label {
            font-size: 20px;
            fill: $primary;
          }
        }
      }
    }
  }
}
