@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
$open: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;
$lobster: 'Lobster Two', cursive;

$primary: #001c33;
$light: #4A96AD;
$lightest: #F5F3EE;

.container {
  font-family: $open;
  color: #474747;
  nav {
    font-size: 14px;
    padding: 0;
    ul {
      margin: 0;
      padding: 30px 20px;
      border-top: 8px solid $primary;
      list-style: none;
      .nav-list {
        color: #474747;
        text-decoration: none;
        li {
          margin: 0 12px;
          padding: 5px;
          display: inline-block;
          text-transform: lowercase;
          letter-spacing: -1px;
        }
      }
      .nav-list:hover {
        color: $primary;
      }
    }
  }
  .jumbotron {
    background-color: transparent;
    letter-spacing: -1px;
    padding: 8rem 2rem;
    h2 {
      span {
        color: $primary;
        font-family: $raleway;
      }
    }
  }
  .work {
    .row {
      margin: 20px 0;
      .col-md-4 {
        img {
          max-width: 100%;
        }
      }
    }
  }
  .about {
    padding: 20px 0;
    background-color: $primary;
    article {
      p {
        text-align: center;
        margin: 10px;
        color: #fff;
        span {
          font-family: $raleway;
        }
      }
    }
    button {
      text-align: center;
      margin: auto;
    }
  }
}
